*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, ;
  list-style: none;
  text-decoration: none;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

